/* Custom Stylesheet */


/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	height: 100% !important;
}

nav ul a,
nav .brand-logo {
	color: #444;
}

.brand-logo {
	position: absolute;
	top: 0px;
	left: 10px;
}

nav {
	/*position: fixed;
	top: 0px;*/
	z-index: 100;
	font-weight: 100;
}

#sidenav-overlay {
	position: inherit;
}

p {
	line-height: 2rem;
}

.header {
	/*text-shadow: 1px 1px 2px black;*/
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

.card-image {
	width: 100%;
}

.card .card-reveal {
	height: 50%;
}

.card-reveal hr {
	width: 80px;
	color: #444;
	/*
list-style-type: circle;
display: list-item;
*/
}

#lightgallery-Wood,
#lightgallery-Metal {
	display: none;
}

.gallery:hover {
	cursor: pointer;
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}


/*Class for when element is above threshold*/

.pin-top {
	position: relative;
}


/* Class for when element is below threshold*/

.pin-bottom {
	position: relative;
}


/* Class for when element is pinned*/

.pinned {
	position: fixed !important;
}

.about-container {
	margin-top: 80px !important;
}

#subscribeContainer {
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-text {
	font-size: 10pt;
}

.email {
	cursor: pointer;
}

#events {
	margin-bottom: 5px !important;
}

.black {
	background-color: black;
}